<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640661058493-485pbaius8tf1odgrh7mmp5lvl61b8n0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640661058493-485pbaius8tf1odgrh7mmp5lvl61b8n0</string>
	<key>API_KEY</key>
	<string>AIzaSyD_SvJJ-dsKqup1BJRINLhItlAZNTyrMDk</string>
	<key>GCM_SENDER_ID</key>
	<string>640661058493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petzola</string>
	<key>PROJECT_ID</key>
	<string>petzola-b4234</string>
	<key>STORAGE_BUCKET</key>
	<string>petzola-b4234.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640661058493:ios:18ee2fdee9a68265ae58d4</string>
</dict>
</plist>